

 
.jumbotron {
    background:url(../img/LA3.jpg) no-repeat center center;
    background-color: #007bff;
     /* background-color: red; */
    background-blend-mode:soft-light;
    background-size: cover; 
    background-attachment: fixed;
    /* background-position: center; */
    /* background-repeat: no-repeat; */
} 

.avatar {
    margin: 50px;
    width: 20%;
    border-radius: 50%;
    min-height: 150px;
    min-width: 150px;
    border: 1px solid white; 
}

/* -------------Footer starts */
.footer-basic {
  padding:40px 0;
  background-color:#ffffff;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  /* border:1px solid #ccc; */
  margin:0 8px;
  color:inherit;
  /* opacity:0.75; */
}

.footer-basic .social > a:hover {
  opacity:0.5;
}

.footer-basic .copyright {
  margin-top:10px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}
/* footer ends */


/* TEST */

.greybar {
   /* background: #ee0804; */
    /* background-image: linear-gradient(rgba(48,113,169, 0.9), rgba(48,113,169, 0.9)),url(../img/LA2.jpg);  */
    
    background:url(../img/LA3.jpg) no-repeat center center;
    background-color: #007bff;
    background-blend-mode:soft-light;
    background-size: cover; 
    background-attachment: fixed;
}  




/* Features */
 .edu {
   font-size: 50px
 }

ul {
  list-style-type: none;
}


@media (max-width: 767px) {
  .jumbotron {
    background-attachment: scroll;
  }
  .greybar {
    background-image: none;
  }
}